**/*.log
**/*.storage
**/*.metrics
**/.env

**/*.pyc
**/*.pyo
**/__pycache__/
**/.vscode/
**/.idea/

**/node_modules/
**/CMakeFiles/

/proxy/cache_*/

/flute/build/.ninja_log
/flute/build/.ninja_deps
/flute/build/build.ninja
/flute/build/examples/cmake_install.cmake
/flute/build/CMakeCache.txt
/flute/build/cmake_install.cmake
/flute/build/.cmake/
/flute/cmake-build-debug/
/flute/fdt.xml
/flute/last.fdt
/flute/test.*.txt

/evaluation/.ipynb_checkpoints
/evaluation/verify.ipynb
/evaluation/process_all.py
/evaluation/process_all_info.py

/server/content/avatar*
/server/content/beta*
/server/content/avatarcmaf*
/server/content/alphacmaf*
/server/*.mov
/server/fdt.xml
/server/last.fdt

**/CMakeCache.txt
**/cmake_install.cmake
**/CTestTestfile.cmake
**/Makefile